$primary-font:    'Crimson Text', sans-serif;
$secondary-font: 'Raleway', serif;


$accent-light: #FFB864;
$accent-lighter: #FFEFDB;
$accent-dark: #D27200;

$gray-darker: #505050;
$gray-dark: #575757;
$gray-mid: #757575;
$gray-light: #ABABAB;
$gray-lighter: #F1F1F1;