$main-light: #FFF1E0;
$main: #FFB864;



$dark-gray: #303030;
$mid-gray: #646464;
$darker-gray: #575757;
$light-gray: #757575;
$lighter-gray: #F1F1F1;


$handwriting: 'Kalam', cursive;



$teal: #65E0F6;
$teal-dark: #1EBBD7;
$teal-light: #DFF4FF;

$yellow: #FFC989;
$yellow-dark: #FFB864;
$yellow-light: #FFE4C4;

$green: #E4F4AF;
$green-dark: #9CAB68;
$green-light: #F2FFC7;

$orange: #FFD179;
$orange-dark: #EFA54E;
$orange-light: #FFE4C4;