$main-light: #FFF1E0;
$main: #FFB864;



$dark-gray: #303030;
$mid-gray: #646464;
$darker-gray: #575757;
$light-gray: #757575;
$lighter-gray: #F1F1F1;


$handwriting: 'Kalam', cursive;



$blue: #A2F0F5;
$blue-dark: #1EBBD7;
$blue-light: #DFF4FF;

$green: #E4F4AF;
$green-dark: #9CAB68;
$green-light: #F2FFC7;

$yellow: #FFD179;
$yellow-dark: #EFA54E;
$yellow-light: #FFE4C4;

$red: #FFC1BA;
$red-dark: #ED7D70;
$red-light: #FFC1BA;