@use "base" as *;


.Header{
	width: 100vw;
	position: fixed;
	background: #ffffff;
	height: 60px;
	top: 0px;
	z-index: 3;
}

.Content{
	width: 1000px;
	margin: auto;
	padding-top: 10px;
}


@mixin HeaderTheme($theme-name,$theme) {
.#{$theme-name}{

.Identity{
	font-size: 24px;
	color: $mid-gray;
	font-family: $handwriting;
	float: left;
	height: 40px;
	line-height: 43px;
}

.Identity::after{
	content: '●';
	color: $theme;
	margin-left: 3px;
	font-size: 15px;
}

.NavList{
	float: right;

	nav{
		display: inline-block;
		margin-left: 30px;
		cursor: pointer;
		line-height: 40px;
		position: relative;
		color: $mid-gray;
	}

	nav:last-of-type::after{
		content: ' ツ'
	}

	a{
		color: $mid-gray;
		text-decoration: none;
	}

	.NavSel::after{
		content: '•';
		color: $theme;
		font-size: 24px;
		display: inline-block;
		position: absolute;
		bottom: -17px;
		left: 0;
		text-align: center;
		width: 100%;
	}

}

@media only screen and (max-width: 600px){
	
.Identity{
	margin-left: 15px;
}

}

}}

@include HeaderTheme('ThemeYellow',$yellow-dark);
@include HeaderTheme('ThemeGreen',$green-dark);