@use "base" as *;

.Header{
	width: 100vw;
	position: fixed;
	background: #ffffff;
	box-shadow: 0px 1px 4px rgba(188, 188, 188, 0.25);
	height: 65px;
	top: 0px;
	z-index: 3;
}
.Content{
	width: 1000px;
	margin: auto;
	padding-top: 12px;
}
.Title{
	font-family: $primary-font;
	font-style: italic;
	color: $gray-dark;
	font-size: 18px;;
	width: 400px;
	text-align: center;
	position: absolute;
	margin-left: 300px;
	margin-top: 10px;
	
}
.Logo{
	float: left;
	height: 45px;
}
.NavList{
	float: right;
	nav{
		display: inline-block;
	}
}
.NavLink{
	font-family: $secondary-font;
	display: inline-block;
	color: $gray-mid;
	width: 70px;
	font-size: 16px;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;

	width: auto;
	margin-left: 30px;
}
.NavLink:hover{
	color: $accent-dark;
}
.NavLinkSel{
	color: $accent-dark;
	font-weight: 500;
}
.NavSelbar{
	width: 70px;
	height: 5px;
	background-color: $accent-light;
	transition: 0s;

	display: none;
}