@use "base" as *;

@mixin ProjectTheme($theme-name,$theme,$theme-dark,$theme-light) {
.#{$theme-name}{

.Break {
	margin-top: 40px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}

.Break::after{
	font-size: 18px;
	letter-spacing: 2px;
	content: '• • •';
	color: #6D6D6D;
}


.Body{
	/*BODY BEGIN*/
	width: 700px;
	margin: auto;
	margin-bottom: 100px;

	.Summary{
	/*SUMMARY BEGIN*/

		/*SUMMARY COL BEGIN*/
		.SummaryCol{
			margin-top: 10px;
			margin-bottom: 30px;
			width:325px;
			display: inline-block;
			vertical-align: top;
			padding-right: 50px;
		}

		.SummaryCol:last-of-type{
			padding-right: 0px;
		}

		h4{
			margin-bottom: 0px;
			margin-top: 40px;
			font-size: 20px;
			color: $dark-gray;
		}


		p{
			margin-top: 10px;
			font-size: 18px;
			line-height: 32px;
			color: $mid-gray;
		}
		/*SUMMARY COL END*/

	/*SUMMARY END*/
	}

	/*BODY CONTI*/
	h1{
		color: $theme-dark;
		font-size: 24px;
		font-weight: 700;
		padding-left: 15px;
		margin-top: 50px;
		margin-bottom: 10px;
		margin-left: -30px;
		height: 18px;
		line-height: 20px;
		border-left: 60px $theme-dark solid;
	}

	h2{
		color: $dark-gray;
		font-size: 36px;
		font-weight: 700;
		margin-top: 50px;
	}

	h3{
		color: $mid-gray;
		font-weight: 700;
		font-size: 20px;
	}

	h5{
		background-color: $lighter-gray;
		padding: 10px;
		border-radius: 5px;
		font-weight: normal;
		text-align: center;
		font-size: 18px;
		color: $mid-gray;
	}

	blockquote{
		color: $darker-gray;
		margin-left: 0px;
		font-size: 20px;
		padding-left:15px;
		font-style: oblique;
		line-height: 200%;
		margin-top: 40px;
		margin-bottom: 40px;
		border-left: 5px $theme-dark solid;
	}

	p{
		margin-top: 10px;
		color: $mid-gray;
		font-size: 18px;
		line-height: 36px;
	}

	img{
		top: 0px;
		width: 100%;
	}
	
	a{
		color: $theme-dark;
		text-decoration: none;
	}

	a:hover{
		text-decoration: underline;
	}

	ol{
			color: $mid-gray;
			font-size: 18px;
			font-weight: normal;
			margin-bottom: 40px;
			margin-top: 30px;
			padding-left: 30px;
			li{
				margin-bottom: 12px;
			}
	}

	ul{
		color: $mid-gray;
		font-size: 18px;
		font-weight: normal;
		margin-top: 30px;
		margin-bottom: 40px;
		padding-left: 0px;
		list-style: none;

			li{
				margin-bottom: 12px;
			}

			li::before{
				content: '▬';
				color: $theme-dark;
				font-size: 18px;
				margin-right: 15px;
			}
	}

	strong{
		font-weight: 700;
	}

	em{
		font-style: normal;
		font-weight: normal;
		background-color: $theme-light;
	}
	/*BODY END*/
}



/*IMG BEGIN*/

.ImgBox{
	/*IMGBOX BEGIN*/
	height: auto;
	position: relative;
	display: block;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 40px;

	p{
		color: $light-gray;
		font-size: 14px;
		font-weight: normal;
		width: 600px;
		margin: auto;
		text-align: center;
		margin-top: 5px;
		line-height: 22px;
	}
	/*IMGBOX END*/
}

.lqip{
	width: 100%;
	transition: 0.1s;
	display: block;
	position: relative;
	opacity: 0;
}

.normalImgBox{
	width: 700px;
}

.largeImgBox{
	width: 1200px;
	padding: 0px 300px;
	margin-left: -550px;
	background-color: #ffffff;
}

.coverImgBox{
	width: 1000px;
	margin-bottom: -7px;
	margin-top: 0px;
}
/*IMG END*/


/*NAV BEGIN*/
.NavBar{
	position: fixed;
	top: 300px;
	left: 50px;
	opacity: 0;
	transition: 0.5s;
	visibility: hidden;
	transition-delay: visibility 2s;
	padding-bottom: 20px;
	border-bottom: 2px solid $theme-dark;
}

.NavBarShow{
	visibility: visible;
	opacity: 1;
}

.NavLink{
	color: $light-gray;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0px;
	transition: 0s;
	cursor: pointer;
	opacity: 0.6;
}

.NavLink::before{
	content: '●';
	display: block;
	color: $theme-dark;
	width: 20px;
	height: 14px;
	line-height: 11px;
	margin-bottom: -20px;
	margin-left: -20px;
	margin-right: 10px;
	visibility: hidden;
}

.NavLinkSel{
	opacity: 1;
}

.NavLinkSel::before{
	visibility: visible;
}

.NavLink:hover{
	opacity: 1;
}
/*NAV END*/




.CoverWrapper{
	/*COVER WRAPPER BEGIN*/
	z-index: 10;
	width: 100vw;
	padding-top: 150px;
	margin-bottom: 100px;
	text-align: center;
	color: $dark-gray;
	background-image: linear-gradient(0deg, #ffffff 15%, $theme 15%);
	background-image: url('/images/project-cover.svg'), linear-gradient(0deg, #ffffff 15%, $theme 15%);
	background-size: contain;
	background-repeat: no-repeat;


	.Name{
		background-color: $dark-gray;
		display: inline-block;
		margin: auto;
		color: #ffffff;
		font-size: 36px;
		padding: 5px 30px;
		font-weight: 600;
	}
	h1{
		font-weight: 700;
		font-size: 64px;
		width: 1000px;
		margin: auto;
		margin-top: 50px;
	}
	.Domain{
		font-size: 20px;
		font-weight: 700;
		margin-top: 50px;
		opacity: 0.7;
		span{
			margin-right: 15px;
		}
		span:not(:last-of-type)::after{
			content: '•';
			color: #ffffff;
			color: $dark-gray;
			margin-left: 15px;
		}

	}
	img{
		top: 0px;
		width: 100%;
	}
	.Cover{
		width: 1000px;
		background-color: $dark-gray;
		padding: 30px;
		margin: auto;
		margin-top: 50px;
	}
	/*COVER WRAPPER END*/
}


.Footer{
	background-color: $theme;
	width: 100vw;
	height: 70px;
	color: $dark-gray;
	text-align: center;
	line-height: 75px;
	font-size: 18px;
	font-family: $handwriting;
	margin-bottom: 0px;
}

.ProgressBar{
	z-index: 5;
	position: fixed;
	width: 0vw;
	height: 5px;
	background: $theme-dark;
}

}}


@include ProjectTheme('ThemeTeal',$teal,$teal-dark,$teal-light);
