.ProjectPage{
	width: 700px;
	margin: auto;
	margin-top: 50px;
}

.imgNormal{
	width: 700px;
}
.lqipNormal{
	width: 700px;
	position: absolute;
	transition: 2s;
}

.imgContainer{
	width: 700px;
	overflow: hidden;
	position: relative;
	height: auto;
}

.High{
	background-color: yellow;
}