.ProjectPage{
	width: 700px;
	margin: auto;
	margin-top: 90px;
}
.Crumb{
	font-family: 'Raleway', sans-serif;
	color: #ABABAB;
	font-size: 18px;
}
.Title{
	color: #505050;
	font-family: 'Crimson Text', serif;
	font-weight: normal;
	font-size: 48px;
	margin-top: 10px;
}
.SubTitle{
	font-family: 'Raleway', sans-serif;
	color: #ABABAB;
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
}

.Heading{
	color: #505050;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	font-weight: 600;
	line-height: 32px;
	margin-top: 50px;
	padding-left: 10px;
	border-left: 5px orange solid;
}
.Paragraph{
	margin-top: 10px;
	font-family: 'Crimson Text', serif;
	color: #575757;
	font-size: 20px;
}
.Paragraph::first-letter{
	font-size: 20px;
	margin-right: 0px;
	line-height: 18px;
}
.LargeQuote{
	color: #C25D00;
	margin-left: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}
.SmallQuote{
	color: #ABABAB;
	margin-left: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}
.SubHeading{
	font-family: 'Raleway', sans-serif;
	color: #ABABAB;
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
}
.Emphasis{
	color: #ECA843;
}
.Highlight{
	font-weight: normal;
	background: #FFEFDB;
}
.Link{
	color: #007ED9;
	text-decoration: underline;
}
.Link:hover{
	opacity: 0.7;
	text-decoration: underline;
}
.Link::after{
	
}

.List{
	color: #ABABAB;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 10px;
}
.largeImg{
	width: 1000px;
	top: 0px;
}

.lqip{
	width: 1000px;
	transition: 1s;
	display: block;
	position: relative;
	opacity: 0;
}

.imgContainer{
	width: 1000px;
	height: auto;
	position: relative;
	display: block;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: -150px;
}

.InfoBox{
	width: 600px;
	margin: auto;
	background-color: #F4F4F4;
	border-radius: 15px;
	padding:30px 50px 10px 50px;
}
.InfoTitle{
	font-family: 'Crimson Text', serif;
	font-weight: bold;
	font-size: 20px;
	color: #505050;
}
.InfoDesc{
	font-family: 'Crimson Text', serif;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #595959;
}
