.ProjectPage{
	width: 700px;
	margin: auto;
	margin-top: 50px;
}

.imgNormal{
	width: 700px;
	top: 0px;
	position: absolute;
}

.lqipNormal{
	width: 700px;
	transition: 2s;
	display: block;
	z-index: 2;
	position: absolute;
}

.imgContainer{
	width: 700px;
	height: auto;
	position: relative;
	margin-top:10px;
	margin-bottom:10px;
	display: block;
}

.High{
	background-color: yellow;
}