@use "base" as *;

.WorkList{
	margin-top: 100px;
	margin-bottom: 50px;
}

.WorkBox{
	width: 90vw;
	margin: auto;
	height: 45vw;
	margin-bottom: 20px;
}

.WorkImg{
	width: 45vw;
	transition: 0.5s;

	animation-name: stretch; 
  animation-duration: 5s; 
  animation-timing-function: ease-in-out; 
  animation-iteration-count: infinite; 
	animation-play-state: running; 
						
}
.WorkImg:hover{
	transform: scale(1.02);
}

@keyframes stretch { 
	0% { 
			transform: scale(1); 
	} 

	50% { 
		transform: scale(1); 
	} 

	100% { 
		transform: scale(1); 
	} 
} 
.WorkDescContainer{
	float: left;
	width: 45vw;
	height: 45vw;
	vertical-align: top;
	position: relative;

	a{
		text-decoration: none;
	}

}


.WorkDesc{
	
	width: 40vw;
	padding: 3vw;
	margin: 0;
  position: absolute;
	top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

	h1{
		background-color: $dark-gray;
		display: inline-block;
		margin: auto;
		color: #ffffff;
		font-size: 22px;
		padding: 5px 20px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	
	h2{
		color: $dark-gray;
		font-weight: 700;
		font-size: 30px;
		margin-top: 20px;
		margin-bottom: 15px;

		transition: .4s;
		display: inline;
	}
	
	p{
		font-size: 18px;
		color: $mid-gray;
	}
	.WorkRef{
		margin-top: 10px;
		width: 37vw;
	}
}


@mixin ProjectTheme($theme-name,$theme,$theme-dark,$theme-light) {
.#{$theme-name}{

h2{
	background: linear-gradient(180deg, #fff 60%, $theme 60%, $theme 110%, #fff 110%);
	background-repeat: no-repeat;
	background-size: 0% 100%;
}

.h2Hover{
	background-size: 100% 100%;
}

	
.WorkLink{
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 25px;
	color: #575757;
	font-size: 16px;
	background: $theme;
	padding: 0px 15px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	border: 0px solid $theme-dark;
	box-shadow: 0px 0px 0px 0px #F1F1F1;
	transition: 0.2s;
}	



.WorkLink:hover{
	transform: scale(1.05)
}

.WorkLinkSec{
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 20px;
	color: #575757;
	font-size: 16px;
	padding: 0px 15px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	border: 0px solid $theme-dark;
	box-shadow: 0px 0px 0px 0px #F1F1F1;
	transition: 0.2s;
}	

.WorkLinkSec:hover{
	text-decoration: underline;
}

}}

@include ProjectTheme('ThemeBlue', $blue, $blue-dark, $blue-light);
@include ProjectTheme('ThemeOrange', $orange, $orange-dark, $orange-light);
@include ProjectTheme('ThemeGreen', $green, $green-dark, $green-light);